.gearsLink {
  font-size: 200%;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 1181;
  /* margin-top: 0.5em; */
  margin: 0.2em 0;
}

.menu {
  display: flex;
  align-items: center;
}

.menu > div {
  color: blue;
  font-size: 200%;
  padding: 0.5em;
  border-radius: 0.5em 0.5em 0 0;
  cursor: pointer;
}

.menu > div:hover {
  background: lightcoral;
  color: white;
}

.right {
  text-align: right;
  display: flex;
}

.right > div {
  margin-right: 1em;
}

.right input[type=number] {
  width: 4em;
  text-align: right;
}

#output {
  border: solid 1px black;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: 0;
  margin-left: 1em;
  padding: 0.5em;
  background: black;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 24em;
  white-space: pre-wrap;
  font-size: 13px;
}

#output > .error {
  color: red;
}

#editor {
  width: 41em;
}

#centerCheckboxes {
  font-size: 80%;
}

#pythonCode {
  width: 100%;
  height: 300px;
}

#editor.large {
  width: 55em;
}

#editor.long > #pythonCode{
  height: 95vh;
}

#editor.large > #pythonCode {
  font-size: 120%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2em;
  width: 100%;
}

#robotConfigurator, #obstaclesConfigurator {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 200px;
  left: 200;
  width: 681;
  height: 400;
  border: solid 2px black;
  border-radius: 0.5em;
  padding: 0.5em;
  box-sizing: border-box;
  transition: top 0.5s;
}

#robotConfigurator {
  background: lightblue;
}

#obstaclesConfigurator {
  background: lightsalmon;
}

#obstaclesConfigurator .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#robotConfiguratorEditor,  #obstaclesConfiguratorEditor {
  background: white;
  width: 100%;
  height: 100%;
  resize: none;
}

#window {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 200px;
  left: 100;
  width: 881;
  height: 400;
  background: lightcoral;
  border: solid 2px black;
  border-radius: 0.5em;
  padding: 0.5em;
  box-sizing: border-box;
  transition: top 0.5s;
}

#window > .content {
  height: 100%;
  width: 100%;
  background: white;
  overflow-y: auto;
  padding: 0.5em;
  box-sizing: border-box;
}
#window > .windowRow {
  width: 100%;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}
#window table {
  width: 100%;
  border: solid 1px gray;
  border-spacing: 0;
}
#window td {
  padding:0.5em;
}
#window thead {
  background: lightgray;
  font-weight: bold;
}
#window thead th {
  border-top: solid 4px gray;
  border-bottom: solid 2px gray;
  padding: 0.5em 0;
}
#window tbody td {
  border-top: solid 1px lightgray;
  border-left: solid 1px lightgray;
}
#window tbody tr:first-child td {
  border-top: 0;
}
#window tbody td:first-child {
  border-left: 0;
  padding-left: 2em;
}
#window tbody td.section {
  font-weight: bold;
  padding-left: 0.5em;
}

.closed {
  top: -1000px !important;
}